body
  margin: 0
  background: #222

svg
  .land
    fill: #444

  .boundary
    fill: none
    stroke: #222
    stroke-width: 0.5px

  .travelpath
    stroke: rgba(0, 150, 0, 0.75)
    stroke-width: 2px
    fill: rgba(0, 0, 0, 0)

  .city
    fill: rgba(0, 150, 0, 0.75)
