body
  margin: 0
  background: #000
  font-family: Economica

.landing
  min-height: 100%

h1, h2
  clear: both
  font-family: Cardo, san-serif
  text-align: center

h1
  color: #ccc
  margin-top: 300px
  font-size: 72pt
  margin-bottom: 5px

h2
  color: #999
  font-size: 48pt
  margin-top: 0px
  margin-bottom: 10px

svg
  display: block
  margin: 0 auto 50px auto
  .boundary
    fill: none
    stroke: #000
    stroke-width: 0.5px

table.bars
  color: #777
  margin: 0 auto 50px auto
  width: 90%
  border-collapse: collapse

  th
    font-weight: bold

  td div
    display: inline-block
    color: black

    span
      padding: 0 5px

  .places
    width: 50%
    text-align: right
    div
      background: #66c
  .visited-by
    min-width: 100px
    text-align: center
  .countries
    width: 50%
    text-align: left
    div
      background: #6b6

.outer-container
  position: relative

.toggles
  position: absolute
  top: 0
  left: 0
  padding-left: 10px

  &.stuck
    position: fixed

  ul
    list-style: none
    margin-left: 0
    padding-left: 0

  li
    margin-bottom: 0.5em

  a
    color: #666
    margin-right: 0.5em

.container
  margin: 0 auto
