body
  margin: 0
  background: #000
  font-family: Economica

h1, h2
  clear: both
  font-family: Cardo, san-serif
  text-align: center

h1
  color: #bbb
  margin-top: 20px
  font-size: 72pt
  margin-bottom: 5px

h2
  color: #aaa
  font-size: 48pt
  margin-top: 0px
  margin-bottom: 10px

svg
  display: block
  margin: 0 auto 50px auto
  .boundary
    fill: none
    stroke: #000
    stroke-width: 0.5px

table.bars
  color: #aaa
  margin: 0 auto 50px auto
  width: 90%

  th
    border-bottom: 1px solid #aaa
    font-weight: bold

  td div
    display: inline-block
    background: #aaa
    color: black

    span
      padding: 0 5px

  .places
    width: 50%
    text-align: right
  .visited-by
    min-width: 100px
    text-align: center
  .countries
    width: 50%
    text-align: left

.toggles
  position: fixed
  top: 0
  left: 0
  padding-left: 10px

  ul
    list-style: none
    margin-left: 0
    padding-left: 0

  li
    margin-bottom: 0.5em

  a
    color: #666
    margin-right: 0.5em

.container
  margin: 0 auto
